@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    transition: all ease-out .5s;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    background-position: center;
    object-fit: cover;
}
header,
main{
    background: #f2f5fa;
}
.container{
    max-width: 1440px;
    margin:0 auto;
}
section{
    padding:22px;
}

/* ........................................... */
.btn { overflow:hidden; outline:none; user-select:none; appearance:none; transition:all .3s ease-in-out; cursor:pointer; white-space:normal; text-align:center; border:0 none; background-color:transparent; }
.btn { font-family:var(--ft1); font-size:13px; font-weight:400; padding:12px 25px; line-height:1; border:0;
    color:#fff; background-color:#092143; border-radius: 4px; border:1px solid #092143;
    text-transform: uppercase; display:inline-block; text-decoration:none; }
.btn:focus, .btn:hover { color:#092143; background-color:rgba(0,0,0,0); border:1px solid #092143; opacity:1; }


.btn2 { color:#000; background-color:#fff; border:1px solid #fff; }
.btn2:hover, .btn2:focus {color:#fff; background-color:#092143; border:1px solid #092143; }

.btn3 { color:#fff; background-color:rgba(0,0,0,0); border:1px solid #fff;}
.btn3:hover, .btn3:focus { color:#1e3e6b; background-color:#fff; border:1px solid #fff;}

.btn4 { color:#fff; background-color:#40b884; border:1px solid #40b884; }
.btn4:hover, .btn4:focus  {color:#40b884; background-color:#fff; border-color:#fff;}

.btn5 { color:#000; background-color:rgba(0,0,0,0); border:1px solid #000; }
.btn5:hover, .btn5:focus { color:#fff; background-color:#000; border-color:#000;}
	
.btn6 { color:#fff; background-color:#86BBBF; border:1px solid #86BBBF; }
.btn6:hover, .btn5:focus { color:#fff; background-color:#111; border-color:#111;}
/* ......................................... */
/* ......................................... */
.middle-header{
display: flex;
justify-content:space-between;
align-items: center;
padding:14px 0;
}
.middle-header .searchbar form{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    display: flex;
    width: 450px;
    background: #fff;
    height: 42px
}
.middle-header .searchbar form input{
    color: #444444;
    background:none;
    font-size: 14px;
    border-radius: 4px 0 0 4px;
    border:0;
    outline:0;
    width: 100%;
    padding:15px;
}
.middle-header .searchbar form label{
    color:#fff;
    background: #40b884;
    padding:20px;
    border-radius: 0 8px 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-header .icons {
    display: flex;
    column-gap: 22px;
}


.middle-header .icons a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:14px;
    color:#333;
}
/* ......................................... */



/* ......................................... */

.bottom-header{
    background: #fff;
    display: flex;
    /* column-gap:50px;  */
    /* padding:20px 0; */
}
.bottom-header .caregories p{
    min-width: 220px;
    padding: 15px 15px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #222222;
    border-right: 1px solid #dddddd;
    /* margin-right: 10px; */
    cursor: pointer;
}

.bottom-header .caregories p .fa-bars{
    margin-right:8px;
}
.bottom-header .caregories p .fa-chevron-down{
    margin-left:8px;
}




.bottom-header .menu{
    display: flex;
    /* column-gap:22px; */
    padding-left:10px;
    
}
.bottom-header .menu li a {
    color: #222222;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.bottom-header .menu li a i{
    margin-left:8px;
}


/* ......................................... */
/* ......................................... */
.single-product {
    padding:12px;
    background: #fff;
    border-radius: 8px;
}
.single-product .images{
    position: relative;
    overflow: hidden;
}
.single-product .images img{
   height:100%;
    border-radius: 8px; 
    transition: all .5s;
}
.single-product .images:hover img{
    transform:scale(1.5)
    
}
.single-product .images .discount {
    position: absolute;
    top:10px;
    left:20px;
    background-color: #ff708e;
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
    line-height: 22px;
    border-radius: 15px;
}
.single-product .images .cart-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:30%;
    left:50%;
    transition: all .4s ease-in-out;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}
.single-product .images:hover .cart-icons{
    top:50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    visibility: visible;
}
.single-product .images .cart-icons a {
    display: inline-block;
    color: #fff;
    margin: 3px;
    line-height: 38px;
    height: 40px;
    width: 40px;
    background-color: #092143;
    border-radius: 20px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.single-product .images .cart-icons a:hover{
    background-color:#40b884; 
}
.single-product .images .cart-icons i {
    color: #fff;
    transition: all .3s ease-in-out;
    font-size: 15px;
}
.single-product .content{
    margin-top: 15px;  
}
.single-product .content h2{
    font-size: 18px;
    color: #333;
    font-weight: 400;
    /* margin-top: 7px; */
    transition: all .4s ease-in-out;
}
.single-product .content h2:hover{
    color:#40b884;
}
.single-product .content .price{
    margin-top: 7px;
}
.single-product .content .pro-price{
    margin-right: 4px;
    font-weight: 400; 
    color: #090a0a;
    font-size: 14px;
    display: inline-block;
    
}
.single-product .content .line-through{
text-decoration: line-through;
color:#ec3636;
}
.single-product .content .star-icons{
    margin: 5px 0 10px;
 
}

.single-product .content .star-icons i{
    color: #fcd700; 
    transition: all .3s ease-in-out;
    /* color:rgba(252, 252, 2, 0.873); */
}
.single-product .content .star-icons i:hover{
    color:rgb(224, 193, 68)
}

/* ......................................... */
/* ......................................... */
.banner-1{
    padding-top:20px;
}
.banner-1 .container{
    display: flex;
    column-gap: 24px;

}
.banner-1 .right,
.banner-1 .left{
    width:100%;
    border-radius: 8px;
}
.banner-1 .left img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.banner-1 .right .top{     
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    margin-bottom: 15px; 
}
.banner-1 .right .top .box{     
    flex:1 1 260px;
    
}
.banner-1 .right .top .box img{
    height: 206px;
    
}
.banner-1 .right .bottom{     
    flex:1 ;
    height: 100%;
}
.banner-1 .right img{
    border-radius: 8px;
}
@media (max-width:576px) {
    .banner-1 .container{
        flex-direction: column; 
        row-gap: 30px;
        }
        .banner-1 .right,
        .banner-1 .left{
            width:100%;
        }
}




/* ......................................... */
/* ......................................... */

.new-products{
margin:50px 0;
padding-top:35px;
background: #f2f5fa;;
}
.new-products .section-title h2{
text-align: center;
font-size: 25px;
font-weight: 500;
color: #111;
margin-bottom: 35px;
}
.new-products .box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
}



@media (max-width: 576px) {
    .new-products .box-container{
        grid-template-columns: 1fr; 
    }
	}
@media (min-width:1200px) {
    .new-products .box-container{
        grid-template-columns:repeat(6,1fr); 
    }
}
/* ......................................... */
/* ......................................... */
.zoom_hov:hover .img img { transform:scale(1.1) }
	
.cl_item .img img { transition:all ease-out .5s }
.rodBnr .img { border-radius:50% !important; margin-bottom: 20px;}
.rodBnr .img img { animation-name: zoomInCnt; }
.rodBnr .zoom_hov:hover .img img { transform:scale(1.1) }
/* ............................................................. */
.categories{
    margin:50px 0;
}
.categories .section-title h2{
    text-align: center;

}
.categories .box{
    text-align: center;
    margin-top: 30px;
}
.categories .box .images{
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition:all ease-out .5s;
    overflow: hidden;
    
    margin:0 auto;
    
}
.categories .box .images img{
    width: 100%;
    height: 100%;
    
    
}
.categories .box:hover img{
    transform:scale(1.1)
}
.categories .box-container{
    /* display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 24px; */
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 5px;

}
.categories .box-container p{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}











.banner-2 .container{
    display: flex;
    column-gap: 24px;

}
.banner-2 .right,
.banner-2 .left{
    width:50%;
    height:220px;
    padding:30px;
    border-radius: 8px;
}
.banner-2 .left{
    background: url(images/banner-1.jpg);
}
.banner-2 .right{
    background: url(images/banner.jpg); 
}
.banner-2 h2{
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin-bottom:20px;
    color:white
}
.banner-2 h3{
    font-size: 20px;
    text-align: left;
    margin-bottom:10px;
    color:white  
}

@media (max-width:576px) {
    .banner-2 .container{
        flex-direction: column; 
        row-gap: 30px;
        }
        .banner-2 .right,
        .banner-2 .left{
            width:100%;
        }
}

/* ......................................... */
/* ......................................... */

.popular-products {
    margin-top: 100px;
}

.popular-products .box-container{
    display: flex;
    column-gap: 30px;
}
.popular-products .left{
    width:40%;
   
}
.popular-products .left img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.popular-products .right{
    width:calc(60% - 30px);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
}
@media (max-width: 576px) {
    .popular-products .right{   
        grid-template-columns: 1fr;    
    }
	}
@media (max-width: 768px) {
    .popular-products .box-container{
        flex-direction: column; 
        }
    .popular-products .left{
        width:100%;
           
    }
    .popular-products .right{
        width:100%;
    }
}
/* ......................................... */
/* ......................................... */



/* ......................................... */
/* ......................................... */